body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}
/* .App{
  display: grid;
} */

.main-container{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas: "a a" 20vh "b c" 65vh / 1fr 1fr;
  gap: 10px;
}
.navbar{
  grid-area: a;
  text-align: center;
}
.map-container{
  grid-area: b;
  margin: 30px;
  position: relative;
  /* justify-self: center; */
}
.caught-fish{
  grid-area: c;
  background-color: rgb(132, 132, 132);
  padding: 20px;
  margin: 30px;
  color: black;
  /* height: 560px; */
  /* overflow-y: auto; */
  /* overflow-x: auto; */
}

.table td {
  text-align: center;
  width: 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
